body {
  background-color: #f4d58d;
}

.sticky-header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: #708d81;
  width: 100%;
  opacity: 0%;
  transition: opacity 0.2s;
  bottom: 100%;
}

.sticky-header--visible {
  opacity: 1;
  bottom: auto;
}

.sticky-header__title {
  padding: 2rem 1rem;
  color: #ffffff;
  font-size: 120%;
}

.page-body {
  margin: 1rem;
}

.page-image {
  background: #001427;
  height: 640px;
  width: 400px;
}

.page-description {
  width: 600px;
}

.page-content {
  height: 120vh;
  font-weight: bold;
}
